@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.header-main-logo {
  margin-right: 20px;
  width: 60px;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../source/image/BackgroundNYC03.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.centered-heading {
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 80px;
  color: #fff;
}

.tile-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.tile {
  display: flex;
  flex: 0 0 calc(33.333% - 20px);
  background-color: #f5f4f1;
  padding: 20px;
  margin-right: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  width: 400px;
  height: 300px;
  font-size: 30px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links li {
  margin: 0 12px;
}

.nav-links li a {
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #333;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-link:hover:before, .nav-link.active:before {
  transform: scaleX(1);
}
