@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  height: 80px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.header-main-logo {
  display: flex;
  align-items: center;
  z-index: 20;
}

.header-main-logo img {
  margin-right: 10px;
  max-height: 60px;
  z-index: 10;
}

.login-button {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 10px;
  background-color: #f5f4f1;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.login-button:hover {
  background-color: #333;
  color: #fff;
}
.form-popup {
  display: block; /* Damit es sichtbar ist, können Sie es später mit JavaScript steuern */
  position: fixed; /* Sie sollten es in den meisten Fällen auf 'fixed' setzen, um sicherzustellen, dass es immer sichtbar ist */
  top: 80%; /* Vertikal in der Mitte des Bildschirms */
  left: 50%; /* Horizontal in der Mitte des Bildschirms */
  transform: translate(-50%, -50%); /* Zentriert das Popup */
  border: 3px solid #f1f1f1;
  z-index: 999; /* Stellt sicher, dass es im Vordergrund angezeigt wird (erhöhter Wert) */
  max-width: 80%; /* Maximale Breite des Popups */
  background-color: white;
}

.form-container {
  padding: 10px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.login-button:hover {
  opacity: 1;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../source/image/BackgroundNYC03.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 5; /* Stellen Sie sicher, dass es im Hintergrund bleibt (niedriger Wert) */
}

.centered-heading {
  display: flex;
  text-align: center;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 2; /* Stellen Sie sicher, dass es im Hintergrund bleibt (niedriger Wert) */
  font-size: 80px;
  color: #fff;
}

.tile-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.tile {
  display: flex;
  flex: 0 0 calc(33.333% - 20px);
  background-color: #f5f4f1;
  padding: 20px;
  margin-right: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  width: 400px;
  height: 300px;
  font-size: 30px;

}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links li {
  margin: 0 12px;
}

.nav-links li a {
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #333;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-link:hover:before, .nav-link.active:before {
  transform: scaleX(1);
}
